/* 下部広告部分 */

.ad-footer-contents {
  width: auto;
  height:40vh;
  background-image: image-url('kakomo-footer01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*padding: 5vh 15vw;*/
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-footer-title {
  font-size: 4vh;
  margin-bottom: 2vh;
  font-family:  serif,'arial black';
  margin-top: 3vh;
}

.ad-footer-explain {
  font-size: 2.5vh;
  line-height: 10px;
  font-family:  serif,'arial black';
  margin-top: 3vh;
}

/* //下部広告部分 */

.footer {
  width: auto;
  padding: 5vh 0;
  color: #FFF;
  background-color: #294969;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
}

.kakomo-details {
  margin: 0 3vw;
  width: 30vh;
}

.kakomo-details>ul {
  list-style: none;
  float: left;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family:  serif,'arial black';
  
}

.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 20px;
  font-family:  serif,'arial black';
  
}


.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}