.registarion-header {
  width: 100vw;
  min-width: 100vw;
  height: 15vh;
  background-color: #294969;
  align-items: center;
  display: flex;
  justify-content: center;
}

.kakomo-logo {
  width: 100px;
  height: 90px;
}

.registration-main{
  width: 100vw;
  min-width: 100vw;
  height: 82vh;
  display: flex;
  justify-content: center;
}

.registration-title {
  text-align: center; 
}

.form-group {
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.field {
    width: 100%;
    height: 30%;
}

.lavel {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.input-default {
  width: 50%;
  margin-top: 5px;
  height: 10px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.actions {
  width: 50%;
  margin: 0 auto;
}


.register-btn {
  width: 100%;
  background: #204969;
  border: 1px solid #204969;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 30px;
}

.login-path{
  margin-top: 30px;
  text-align: center;
}

