.sessions-new-main{
  width: 100vw;
  height: 50vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-default {
  width: 90%;
  margin-top: 5px;
  height: 10px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.remember-me {
  text-align: center;
  margin: 3vw 0 0 0;
}

.login-btn {
  width: 100%;
  background: #204969;
  border: 1px solid #204969;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 2vh;
}

